// grid-product-card
.cardBody {
    width: 100%;
    height: 400px; // 固定卡片高度
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}
.cardImg {
    width: 100%; /* 圖片寬度佔滿父元素 */
    height: 210px; 
    overflow: cover;
}
.cardInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 10px;
    position: relative;
}
.badge {
    position: relative;
    top: 0;
    left: 0;   
}
.cardText {
    height: 50px;
    color: var(--primary-dark);
    font-weight: bold;
    margin: auto 0;
}
.typeText {
    color: var(--dark-grey);
    font-weight: normal;
    margin: 5px 0;
}
.currency {
    font-weight: bold;
    color: var(--primary-dark);
    margin: 10px 0 10px 0;
}
.heartIcon {
    font-size: 30px;
    color: var(--heart);
    position: absolute;
    top: 2%;
    left: 80%;
}
.cartIcon {
    font-size: 20px;
    color: var(--white);
}
.cartBtn {
    background-color: var(--light-brown);
    color: var(--white);
    padding: 10px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
    background-color: var(--brown);
    }
}

@media screen and (max-width: 768px) {
    .cardBody {
        width: 100%;
        height: 300px;
    }
    .cardImg {
        width: 100%;
        height: 150px;
    }

    .cardText {
        height: 30px;
        font-size: medium;
        margin-top: 0.5rem;
        text-align: left;
    }
    .cardInfo {
        margin-top: 1px;
    }

    .badge {
        position: relative;
        top: 0;
        left: 0;   
    } 
    .currency {
        font-size: 16px;
    }

    .heartIcon {
        font-size: 26px;
    }

    .cartIcon {
        font-size: 20px;
    }

    .cartBtn {
        margin: 1vh;
        padding: 5px;
        font-size: 14px;
        position: absolute;
        top: 100px;
    }
}


// list-product-card
.listProductCard {
    width: 100%;
    height: auto;
    text-decoration: none;
    margin-top: 30px;

}
.listProductCardTitle {
    margin-top: 20px;
    text-decoration: none;
    color: var(--primary-dark);
    font-weight: bold;
    font-size: 22px;
}
.listProductCardCategory {
    margin-top: 10px;
    text-decoration: none;
    color: var(--primary-dark);
}
.listHeartIcon {
    font-size: 30px;
    color: var(--heart);
    position: absolute;
    top: 7%;
    left: 93%;
}

.listCartBtn {
    width: 160px;
    background-color: var(--light-brown);
    color: var(--white);
    position: absolute;
    right: 40px;

    &:hover{
        background-color: var(--brown);
        color: var(--white);
    }
}
.listProductCardImg img {
    height: auto;
    display: flex;
    justify-content: center;
    padding: 8px;
    object-fit: cover;
    margin-top: 12px;
    margin-bottom: 12px;
}
.listCurrency {
    font-size: 22px;
}

.listProductCardText {
    padding-left: 15px;
}

@media screen and (max-width: 768px) {
    .listProductCard {
        margin: 10px;
        padding: 0;
    }
    .listProductCardImg {
        max-width: 100%;
        object-fit: cover;
        width: 150px;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }
    .listProductCardTitle {
        font-size: 16px;
        position: relative;
    }
    .listHeartIcon {
        position: absolute;
        top: 15%;
        left: 90%;
        font-size: 26px;
    }
    .listCurrency {
        font-size: 16px;
        position: absolute;
        right: 20px;
        top: 67px;
    }
    .listCartBtn {
        font-size: 12px;
        width: 110px;
        padding-inline: 0;
        position: absolute;
        right: 15px;
        top: 110px;
    }
}

// search-bar
.searchBar {
    width: 100%;
    padding-left: 8px ;
}

@media screen and (max-width: 768px) {
    .searchBar {
        width: 100%;
        padding: 0 ;
    }
    .searchBarBtn {
        width: 170px;
    }
}