.input-style {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    width: 200px;
    margin-bottom: 100px;

  }
  
  .input-style:focus {
    outline: none;
    border-color: #007bff;
  }
