@import '@/node_modules/bootstrap/scss/functions';

@import '@/node_modules/bootstrap/scss/variables';
.ps-3{
    font-size: 1px;
}
.btn-info{
    margin-left: 10px;
    margin-right: 5px;
        border-style:none; 
       font-size:18px;
        color: var(--primary-dark);
        background-color: #f8dc9a;
        width: 90px,
}
.class-date{
    margin: 5px;
  width: 80px;
  font-size: 10px;
  color: var(--primary-dark);
 
  border-style:none;
  
}
@media (min-width: 390px) {
    // 日期1
    .class-date{
        width: 100%;
        font-size: 15px;
    }
}
