// product-card
.card {
    justify-content: center;
}
.cardBody {
    position: relative;
}
.cardImg {
    width: 100%; /* 圖片寬度佔滿父元素 */
    height: auto; 
    overflow: hidden;
}
.cardInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
}
.badge {
    position: relative;
    top: 0;
    left: 0;   
}
.cardText {
    color: var(--primary-dark);
    font-weight: bold;
}
.typeText {
    color: var(--dark-grey);
    font-weight: normal;
}
.currency {
    font-weight: bold;
    color: var(--primary-dark);
}
.heartIcon {
    font-size: 30px;
    color: var(--white);
    position: absolute;
    top: 0.5vh;
    left: 9.5vw;
}
.cartIcon {
    font-size: 20px;
    color: var(--white);
}
.btnCart {
    background-color: var(--light-brown);
    color: var(--white);
    width: 15vh;
    height: 4vh;
    margin-top: 0.5vh;
    border: none;
    border-radius: 5px;

    &:hover{
    background-color: var(--brown);
    }
}

// filter
.viewtype {
    width: 50px;
    height: 50px;
}